{% load staticfiles %}
<html>
	<body>
		<center><h2>Top 10 Artciles</h2></center>
		<center><img src="{% static 'journal/football-main.jpg' %}" align="middle" style="width:500; height:300; padding-top:10%"></center>
		<ul class="side-nav" role="navigation" title="Link List">
		   <li role="menuitem"><a href="#">Link 1</a></li>
		   <li role="menuitem"><a href="#">Link 2</a></li>
		   <li role="menuitem"><a href="#">Link 3</a></li>
		   <li role="menuitem"><a href="#">Link 4</a></li>
	 	</ul>

  	</body>
</html>